*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;

}

.bloc-tabs {
  display: flex;
}
.tabs {
  text-align: center;
  width: 6%;
  font-size: 12px;
  cursor: pointer;
  color:#CBCBCB;
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs {
  border-bottom: 1px solid #CBCBCB;

}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {

  width: 100%;
  height: 100%;
  display: none;
}

.active-content {
  display: block;
}
